body {
    background-image: url(../IMG/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow-x: hidden;
}

.row.login, .row.secretary {
    height: 100vh;
    align-items: center;
}

.card, nav.navbar {
    background-color: rgba(255, 255, 255, 0.684);
}

.card.container-fluid {
    height: 220px;
    border-radius: 20px;
    border-color: white;
}

.card-body button {
    width: 300px !important;
}

.modal-content {
    border-radius: 20px;
    border-color: white;
}

select {
    width: 425px;
}